<div class="container-fluid containercontact">

<div class="top">
		<div class="navy"><%= link_to ("Home"), root_path %></div>
		<div class="navy"><%= link_to ("About"), about_path %></div>
		<div class="navy"><%= link_to ("Portfolio"), portfolio_path %></div>
		<div class="navybox"><%= link_to ("Contact"), contact_path %></div>
</div>
<div>
<span class="fleft">
<h1>Contact</h1>
</span>
</div>

<h2>Email: roneal20@gmail.com</h2>
<h3>Mobile: 904-535-4483</h3>


<div class="footer navbar navbar-fixed-bottom">
<%= link_to ('https://www.instagram.com/astra.eus/?hl=en'), target: '_blank' do %>
<%= image_tag ("insta.png"), class: "icon" %>
<% end %>
<%= link_to ('https://twitter.com/Mr_O_Neal'), target: '_blank' do %>
<%= image_tag ("twitter.png"), class: "icon" %>
<% end %>
<%= link_to ('https://www.facebook.com/reed.oneal.3'), target: '_blank' do %>
<%= image_tag ("facebook.png"), class: "icon" %>
<% end %>
</div>
</div>